<!DOCTYPE html>
<html>
	<body>
		<h1>Appload</h1>
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<input type="file" />
			<input type="submit" />
		</form>
	</body>
</html>
